#Servidor
NODE_ENV=production
PORT=3001
FRONTEND_URL=

#PostgreSQL
DB_HOST=postgres_rad
DB_PORT=5432
DB_NAME=tfg_iot
DB_USER=tfg_user
DB_PASSWORD=

#Autenticacion
JWT_SECRET=
JWT_EXPIRES_IN=24h

#InfluxDB
INFLUX_URL=http://influxdb:8086
INFLUX_ORG=
INFLUX_BUCKET=
INFLUX_TOKEN=
INFLUX_TOKEN_WRITE=

#Correo (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=