# Dependencias
node_modules/

# Variables de entorno
/.env
backend/.env
frontend/.env.local

# Datos de las bases de datos
data/

# Logs
log/

# Next.js
frontend/.next/

# PDFs generados
backend/informes/

#Fotos utilizadas en local
backend/uploads/

tareasPendientes.md
